@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
#root {
    height: 100%;
}

body {
    font-family: sans-serif;
}

.ant-modal-content {
    width: fit-content;
}
.ant-table-cell {
     padding: 2px 0 !important;
}
